@tailwind base;
@tailwind components;
@tailwind utilities;

/* purge start ignore */
body {
  @apply transition-colors duration-500;
  @apply antialiased text-gray-600 dark:text-gray-300 bg-gray-100 dark:bg-gray-900;
  @apply leading-normal tracking-normal text-base font-normal break-words;
  @apply font-sans text-base lg:text-xl;
  main {
    @apply p-8 pt-32 md:pt-24 mx-auto max-w-4xl;
    @apply text-center;
  }
}




/* purge end ignore */
